ul {
    display: flex;
    list-style-type: none;
    padding: 40px;
}

li {
    padding:10px 20px;
    border-radius: 5px;
    width: 160px;
    text-align: center;
    margin: 0 10px;
    background-color:#FFD7D7 ;
}
li:hover{
    cursor: pointer;
    background-color: #FFD7D7;
}

.active-btn{
    background-color:white ;
}
input{
    border-radius: 5px;
    border: solid 2px #FFD7D7;
    width: 300px;
}




