@font-face {
  font-family: 'Lato';
  src: url('./utils/Lato/Lato-Regular.ttf') format('truetype');
  /* Ajoutez d'autres variantes de la police si nécessaire */
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  font-family: "Lato", sans-serif;
}
*::selection {
  background-color: #fd2d01;
}

a,
a:visited {
  color: blue;
}
.fa-solid.fa-xmark {
  color: red;
}

table{
  width:1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  border: 1px dashed black;
  padding: 40px 0px;
}
.title{
  border-bottom: 2px solid #c22405;
  width: 900px;
}
tr{
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
th{
  width: 150px;
  padding: 8px;
  min-width: 250px;
  
}
.pseudoTitle{
  display: flex;
  justify-content: flex-start;
}
.pseudoColumn{
  display: flex;
  justify-content: flex-start;
  padding-left: 20px;
}

.emailTitle{
  display: flex;
  justify-content: flex-start;
}
.roleTitle{
  display: flex;
  justify-content: flex-start;
}
.roleColumn{
  display: flex;
  justify-content: flex-start;
}
select:hover{
  cursor: pointer;
}

.emailColumn{
  display: flex;
  justify-content: flex-start;
}
